.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

.col {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 1.2rem;
}
